schema==0.6
pyyaml==5.1
-e git+ssh://git@github.com/Parakoopa/configcrunch.git#egg=configcrunch
appdirs==1.4.3
janus==0.4.0
psutil==5.4.8
GitPython==2.1.11
pywinpty==0.5.5; sys_platform == 'win32'
python-hosts==0.4.5