-e git+https://github.com/Parakoopa/riptide-cli.git#egg=riptide-cli
-e git+https://github.com/Parakoopa/riptide-proxy.git#egg=riptide-proxy
-e git+https://github.com/Parakoopa/riptide-engine-docker.git#egg=riptide-engine_docker
-e git+https://github.com/Parakoopa/riptide-db-mysql.git#egg=riptide-db_mysql
