schema==0.7.8
pyyaml==6.0.3
configcrunch==2.1.1
appdirs==1.4.4
janus==2.0.0
psutil==7.1.0
GitPython==3.1.45
pywinpty==3.0.2; sys_platform == 'win32'
python-hosts==1.1.2
python-dotenv==1.2.1

ruff
mypy
types-requests
types-psutil
types-PyYAML
