name: Test

on:
  push:
    branches:
      - master
      - release
      - version/*
    tags:
      - "*"
  pull_request: { }

jobs:
  test:
    runs-on: ubuntu-latest
    name: Run tests
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.11", "3.12", "3.13", "3.14" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          pip install tox tox-gh-actions
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build integration test image
        uses: docker/build-push-action@v6
        with:
          context: riptide/tests/docker_image
          push: false
          tags: riptide_integration_test
          load: true
        env:
          DOCKER_BUILD_SUMMARY: "false"
          DOCKER_BUILD_RECORD_UPLOAD: "false"
      - name: Install system dependencies
        run: >-
          sudo apt-get install -y build-essential libcap-dev libffi-dev
      - name: Test with tox
        run: tox
      - run: mv test_reports/all.xml test_reports/pytest-${{ matrix.python-version }}.xml
      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: "Pytest Test Results (Python ${{ matrix.python-version }})"
          path: test_reports/pytest-${{ matrix.python-version }}.xml


  test-event-file:
    name: "Publish Test Results Event File"
    runs-on: ubuntu-latest
    steps:
      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          name: Event File
          path: ${{ github.event_path }}
